.home-container {
  width: 100%;
  /* padding: 80px; */
  margin-top: a;
  /* margin-left: 50px; */
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
}

.home-text {
  width: 55%;
}

.home-text h1 {
  color: #003366;
  font-size: 35px;
}

.home-text p {
  margin-top: 10px;
  line-height: 1.6;
}

.home-card {
  width: 40%;
}

.home-section {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
