footer {

  width: 100%;
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 500px;
  font-size: 14px;


   /* position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center; */
   
  /* background: #003366;
  color: white;
  padding: 20px;
  text-align: center; */


  /* position: absolute;
  bottom: 0;
  width: 100%; */

}
