.slider-container {
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.slider-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  transition: 0.7s ease-in-out;
  border-radius: 8px;
}

.slider-caption {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 8px black;
}
